{% extends "base.html" %}
{% block content %}
<div class="card shadow p-3">
  <h2 class="mb-3">Your Expenses</h2>
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Note</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for exp in expenses %}
    <tr>
      <td>{{ exp[1] }}</td>
      <td>{{ exp[2] }}</td>
      <td>{{ exp[3] }}</td>
      <td>{{ exp[4] }}</td>
      <td>
        <form action="{{ url_for('delete_expense', expense_id=exp[0]) }}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-sm btn-danger rounded-pill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0V6H6v6.5a.5.5 0 0 1-1 0v-7z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1 0-2h3.1a1 1 0 0 1 .9-.6h4a1 1 0 0 1 .9.6h3.1a1 1 0 0 1 0 2H14.5z"/>
            </svg>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
